<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="diva.example.category"
            name="DiVA Samples"
            parentCategory="org.eclipse.ui.Examples"/>
      
      <!-- <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/diva.example.category"
            class="eu.ict_diva.studies.ui.wizards.DivaCASStudyExampleWizard"
            finalPerspective="org.eclipse.ui.resourcePerspective"
            hasPages="false"
            icon="icons/DivaIcon16.gif"
            id="org.kermeta.kmlogo.samples.wizard"
            name="CAS study"/> -->
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/diva.example.category"
            class="eu.ict_diva.studies.ui.wizards.DivaDesignExampleWizard"
            finalPerspective="org.eclipse.ui.resourcePerspective"
            hasPages="false"
            icon="icons/DivaIcon16.gif"
            id="org.kermeta.kmlogo.samples.wizard"
            name="DiVA Design Examples and Template">
      </wizard>
   </extension>
</plugin>
