<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="DiVA Studio"
            class="eu.ict_diva.studio.intro.Perspective"
            id="eu.ict_diva.studio.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/rootConfigExtension.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewConfigExtension.xml">
      </configExtension>
   </extension>
<!--   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="eu.ict_diva.studio.intro">
      </intro>
      <introProductBinding
            introId="eu.ict_diva.studio.intro"
            productId="eu.ict_diva.studio.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="eu.ict_diva.studio.intro"
            content="introContent.xml"
            id="eu.ict_diva.studio.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            class="org.eclipse.platform.internal.CheatSheetStandbyContent"
            id="org.eclipse.platform.cheatsheet"
            pluginId="org.eclipse.platform">
      </standbyContentPart>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewExtensionContent1.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewExtensionContent2.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewExtensionContent3.xml">
      </configExtension>
   </extension>
-->
</plugin>
