<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="uk.ulancs.diva.FeatureTreeAnalyzer.contribution1"
            nameFilter="*.fmp"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ArborCraft"
               path="additions"
               id="ArborCraftExtension.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Similarity Analysis"
               class="uk.ulancs.diva.FeatureTreeAnalyzer.popup.actions.AnalyzerAction"
               menubarPath="ArborCraftExtension.menu1/group1"
               enablesFor="2"
               id="uk.ulancs.diva.FeatureTreeAnalyzer.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.viewActions"> 
<viewContribution 
      id="org.eclipse.ui.articles.action.contribution.view" 
   targetID="org.eclipse.ui.views.ResourceNavigator">
   <action
         class="uk.ulancs.diva.FeatureTreeAnalyzer.popup.actions.AnalyzerAction"
         disabledIcon="icons/grey_dot.gif"
         enablesFor="2"
         icon="icons/blue_dot.gif"
         id="org.eclipse.ui.articles.action.contribution.view.action2"
         label="Similarity Analysis"
         toolbarPath="group1"
         tooltip="Computes the similarity between two feature models.">
      <selection
            class="org.eclipse.core.resources.IFile"
            name="*.fmp">
         </selection>
      </action> 
   </viewContribution> 
</extension>

</plugin>
