<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="uk.ulancs.diva.fmp2diva.contribution1"
            nameFilter="*.fmp"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ArborCraft"
               path="additions"
               id="ArborCraftExtension.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="FMP2DiVA"
               class="uk.ulancs.diva.fmp2diva.popup.actions.FMP2DiVAAction"
               menubarPath="ArborCraftExtension.menu1/group1"
               enablesFor="1"
               id="uk.ulancs.diva.fmp2diva.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
