<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.pure.diva.arf.activator.reasoner">
      <reasoner
            class="de.pure.diva.arf.wp2.simulator.reasoner.WP2SimulatorReasoner"
            id="de.pure.diva.arf.wp2.simulator.simulator">
      </reasoner>
   </extension>

</plugin>
